* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

.listaProductos .producto1, .listaProductos .producto2, .listaProductos .producto3, .listaProductos .producto4, .listaProductos .producto5, .listaProductos .producto6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s; }

body {
  background-image: url(../images/fondo.jpg);
  background-size: cover; }
  body header {
    background-color: #292929; }
    body header nav ul {
      align-items: center;
      width: 100%;
      display: flex;
      justify-content: space-between; }
      body header nav ul li {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem; }
    body header nav img {
      height: 4rem;
      transition: 1s; }
    body header nav img:hover {
      transform: scale(1.1); }
    body header nav .nav-link {
      color: #d1d1aa; }
    body header nav .nav-link:hover {
      color: white; }
  body main h1 {
    text-transform: uppercase;
    color: #d1d1aa;
    grid-area: titulo;
    text-align: center; }
  body main div.container1 div.container2 {
    width: 20%;
    height: 100%;
    padding: 0 2rem 0 2rem; }
    body main div.container1 div.container2 div.carousel-inner {
      width: 100%;
      height: 100%; }
      body main div.container1 div.container2 div.carousel-inner div.carousel-item {
        width: 100%;
        height: 100%; }
  body main div.subMenu {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center; }
    body main div.subMenu li img {
      width: 12rem;
      height: 12rem; }
  body main .ultIngresos {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas: "titulo2 titulo2 titulo2" "ingreso1 ingreso2 ingreso3";
    align-items: center;
    gap: 1rem; }
    body main .ultIngresos h2 {
      grid-area: titulo2;
      text-transform: uppercase;
      color: #d1d1aa;
      text-align: center; }
  body main .ingreso img {
    width: 10rem;
    height: 10rem; }
  body main #i1 {
    grid-area: ingreso1;
    justify-self: end; }
  body main #i2 {
    grid-area: ingreso2;
    justify-self: center; }
  body main #i3 {
    grid-area: ingreso3;
    justify-self: start; }
  body footer {
    margin: 2rem;
    text-align: center; }
    body footer img {
      width: 2rem;
      height: 2rem;
      border-radius: 0.7rem; }
    body footer h3 {
      font-size: 1rem;
      color: #d1d1aa; }

.listaProductos {
  display: grid;
  row-gap: 2rem;
  column-gap: 4rem;
  grid-template-areas: "p1 p2 p3" "p4 p5 p6";
  align-items: center;
  justify-content: center; }
  .listaProductos .tarjeta {
    background-color: #949191;
    border: solid #292929;
    border-radius: 1rem; }
  .listaProductos img {
    width: 15rem;
    height: 15rem; }
  .listaProductos h3 {
    color: #d1d1aa;
    text-align: center;
    font-size: 1.5rem; }
  .listaProductos h4 {
    text-align: center;
    font-size: 1rem;
    color: #d1d1aa; }
  .listaProductos .producto1 {
    grid-area: p1; }
  .listaProductos .producto1:hover {
    transform: scale(1.1); }
  .listaProductos .producto2 {
    grid-area: p2; }
  .listaProductos .producto2:hover {
    transform: scale(1.1); }
  .listaProductos .producto3 {
    grid-area: p3; }
  .listaProductos .producto3:hover {
    transform: scale(1.1); }
  .listaProductos .producto4 {
    grid-area: p4; }
  .listaProductos .producto4:hover {
    transform: scale(1.1); }
  .listaProductos .producto5 {
    grid-area: p5; }
  .listaProductos .producto5:hover {
    transform: scale(1.1); }
  .listaProductos .producto6 {
    grid-area: p6; }
  .listaProductos .producto6:hover {
    transform: scale(1.1); }

form {
  display: flex;
  justify-content: center; }
  form span {
    color: #d1d1aa;
    width: 10rem;
    display: block;
    margin-top: 1rem; }
  form .consulta input {
    width: 40rem;
    height: 8rem; }
  form button {
    text-align: center;
    margin-top: 1rem; }

.nosotros {
  display: flex;
  color: #d1d1aa;
  text-align: justify;
  margin: 2rem;
  padding: 5rem; }
  .nosotros img {
    margin-left: 5rem; }

.btn-instagram {
  background-color: #f87f2e; }

.btn-facebook {
  background-color: #1010b9; }

@media screen and (max-width: 1024px) {
  body header nav ul li {
    font-size: 1rem;
    margin: 0.3rem; }
  body main div.subMenu {
    display: none; }
  .listaProductos {
    grid-template-areas: "p1 p2 " "p3 p4" "p5 p6"; }
  .ultIngresos img {
    width: 8rem;
    height: 8rem; }
  form .consulta input {
    width: 30rem;
    height: 5rem; }
  footer h3 {
    font-size: 0.8rem; } }

@media screen and (max-width: 600px) {
  body header nav ul li {
    font-size: 0.9rem;
    margin: 0.2rem; }
  .listaProductos {
    grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6"; }
  .ultIngresos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "titulo2" "ingreso1";
    column-gap: 0.5rem; }
  #i1 {
    display: none; }
  #i3 {
    display: none; }
  footer h3 {
    font-size: 0.5rem; }
  form .consulta input {
    width: 15rem;
    height: 5rem; } }
